<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Price Prediction</title>
</head>
<body>
    <center>
        <form action="/predict" method="post">
            <label for="">Milage   </label><input type="text" name="milage" placeholder="Enter car milage here"> <br><br>
            <label for="">Age   </label><input type="text" name="age" placeholder="Enter age of the car here"> <br><br>
            <input type="submit" value="Predict the Car Price">
        </form>
        {{ text_prediction }}
    </center>
</body>
</html>